<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.battir.androidtrainingkotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTrainingKotlin"
        tools:targetApi="31">
        <activity
            android:name=".TabsActivity"
            android:exported="false"
            android:label="@string/title_activity_tabs"
            android:theme="@style/Theme.AndroidTrainingKotlin.NoActionBar" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.AndroidTrainingKotlin.NoActionBar" />
        <activity
            android:name=".MenusActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidTrainingKotlin.NoActionBar" />
        <activity
            android:name=".FragmentHostActivity"
            android:exported="false" />
        <activity
            android:name=".DialogsActivity"
            android:exported="false" />
        <activity
            android:name=".StudentForm"
            android:exported="false" />
        <activity
            android:name=".ViewsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitySavedInstance"
            android:exported="false" />
        <activity
            android:name=".UserInputActivity"
            android:exported="false" />
        <activity
            android:name=".ScrollTextActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:roundIcon="@mipmap/demo_app_icon"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceiveIntentActivity"
            android:exported="true"
            android:icon="@drawable/activity2"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".StudentActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityLifeCycle"
            android:exported="true" />
        <activity
            android:name=".ButtonAndToastActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>